<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MariaStommes.com</title>
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.svg"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.woff"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.woff2"/>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>

<!--Main Nav-->

<div class="row">
    <nav class="navigation col-md-12">
        <div>
            <ul class="itemText">
                <li><a href="/views/index.html">HOME</a></li>
                <li><a href="/views/resume.html">RESUME</a></li>
                <li><a href="/views/work.html">WORK </a></li>
                <li><a href="/views/contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="leftbio col-md-6">
    <div class="portrait"></div>
    <p class="col-md-5">Howdy, Hi, Hi! <br> Welcome to my site and thank you for taking time to check it out.  I'm still
    fairly new at this web development stuff but I'm getting the hange of it and it's pretty amazing what a girl can do with a little tech.</p>

    <p class="col-md-5">
        When I'm not studying code or working on web stuff, I'm usually playing guitar, enjoying a bike ride on the
        many trails or going out for a great cup of coffee!
    </p>

</div>


<div class="row">
    <div class="rightbio col-md-6">
        <div class="contactinfo">

        <p>Follow me on the following Social Media Platforms</p>
        <div class="social">
            <a href="https://www.linkedin.com/in/mstommes"> <i class="fa fa-linkedin fa-2x"></i></a>
            <a href="https://twitter.com/MariaStommes"> <i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://www.facebook.com/maria.stommes"><i class="fa fa-facebook-square fa-2x"></i></a>
        </div>
        </div>
</div>
</div>


<div class="row">
    <div class="footer col-md-12">
    </div>
</div>

<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</body>
</html>