<!DOCTYPE html>
<html lang="en">
<head>
    <title>MariaStommes.com</title>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body class="body">
<div class="wrapper">

    <!--<nav id="navigation">-->
    <!--<div>-->
    <!--<ul><li class="itemText" >HOME</li>-->
    <!--<li><a href="views/resume.html">RESUME</a></li>-->
    <!--<li><a href="views/primeprojects.html">PRIME PORTFOLIO</a></li>-->
    <!--<li><a href="views/photography.html">PHOTOGRAPHY</a></li>-->
    <!--&lt;!&ndash;<li><a href="views/music.html">MUSIC</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="views/contact.html">CONTACT</a></li>&ndash;&gt;-->
    <!--</ul>-->
    <!--</div>-->
    <!--</nav>-->

        <div class="col-md-4">
            <a href="https://github.com/mstommes"><img src="../assets/images/githubicon.png"></a>
        </div>
        <div class="col-md-4">
            <img src="../assets/images/nerderygroup.png">
        </div>
        <div class="col-md-4">
            <img src="../assets/images/personalproject.png">
        </div>

</div>

<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</body>
</html>