<!DOCTYPE html>
<html lang="en">
<head>
    <title>MariaStommes.com</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body class="body">
<div class="wrapper">

    <h4>Maria Stommes, CPPM</h4>
    <h5>mstommes@gmail.com | w​ww.linkedin.com/in/mstommes​| 651-895-2525</h5>

    <h5>Technologies</h5>
    <p>HTML5 | CSS | JQuery | AngularJS | Javascript | MongoDB | GitHub(version control) | Heroku | NodeJS | Express </p>


<nav id="navigation">
    <div>
        <ul><li class="itemText" >HOME</li>
            <li><a href="views/resume.html">RESUME</a></li>
            <li><a href="views/primeprojects.html">PRIME PORTFOLIO</a></li>
            <li><a href="views/photography.html">PHOTOGRAPHY</a></li>
            <!--<li><a href="views/music.html">MUSIC</a></li>-->
            <!--<li><a href="views/contact.html">CONTACT</a></li>-->
        </ul>
    </div>
    </nav>
<div class="images">
    <div>
       <a href="https://github.com/mstommes"><img src="../assets/images/githubicon.png" width="200" height="300" ></a>
    </div>
    <div> <img src="../assets/images/nerderygroup.png" width="200" height="300">
    </div>
    <div><img src="../assets/images/personalproject.png" width="200" height="300" >
    </div>
</div>
</div>

<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</body>
</html>