<!DOCTYPE html>
<html lang="en">
<head>
    <title>MariaStommes.com</title>
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.svg"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.woff"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.woff2"/>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body class="body">
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MariaStommes.com</title>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
<!--Main Nav-->
<div class="container-fluid">
<div class="row">
    <nav class="navigation col-md-12">
        <div>
            <ul class="itemText">
                <li><a href="/views/index.html">HOME</a></li>
                <li><a href="/views/resume.html">RESUME</a></li>
                <li><a href="/views/work.html">WORK </a></li>
                <li><a href="/views/contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</div>
</div>
<main class="container">
    <p class="row">
    <h4>Maria Stommes, CPPM</h4>
    <h5><i class="fa fa-envelope"></i>mstommes@gmail.com | <i class="fa fa-linkedin"></i>w​ww.linkedin.com/in/mstommes ​| <i class="fa fa-mobile-phone"></i> 651-895-2525</h5>

    <h5>Technologies</h5>
    <p>HTML5 | CSS | JQuery | AngularJS | Javascript | MongoDB | GitHub(version control) | Heroku | NodeJS | Express </p>

    <h4>WORK EXPERIENCE</h4>
    <h5>Software Engineering Student</h5>
    <p class="smallText">Prime Digital Academy (June 2015-Present)</p>

    ▪ Worked withs software engineering classmates to successfully create ameeting dossier weba application that allowed a user to add meetings and attendees via their Google calendar
    ▪ Created web application,in AngularJS,that allows a user to spin up guita rlessons using a carousel
    ▪ CompletedsoftwareprojectsusingthecompleteMEANstack
        <h5>Digital Project Manager (Contract)</h5>
    <p class="smallText">Internet Exposure (March 2015-June 2015)</p>
    ▪ Servedasscrummasterfordevelopersforapplicationrebuildsndclientwork
    ▪ Workedwithdevelopmentteamtoestimateprojecttimelinesandworkestimatesforclients ▪ MaintainedaccurateprojecthoursandmonthlybillingrecordsusingRedmineandHarvest ▪ Providedaccurateandpromptfeedbacktoclients
    ▪ Updatedyearlycontractagreementsandledclientmeetingsasneeded
    ▪ Participatedandcreatedagendasfordailyandweeklystand-upmeetings
    <h5>Adult Education Instructor (Part-time Evening ESL)</h5>
   <p class="smallText">Minneapolis Public Schools (December 2010 - June 2015)</p>
    ▪ DevelopedandtaughtESLcurriculum,includingweeklylessonplanscenteredonlifeandworkskills ▪ Taughtcriticalthinkingskillsandcreatedsupportivelearningenvironment
    ▪ Assessedstudents’progresswithlessonandunittestsaswellasCASASandTABEtests
    ▪ Collaboratedwithco-teachersandfellowABEstaffandvolunteers
    ▪ Wrotelearninggoalsandobjectivesforincreasedstudentsuccess ▪ Activelyparticipatedonstaffdevelopmentandtrainingmeetings
    <h5>Project Manager/Team Lead</h5>
   <p class="smallText">Data Recognition Corporation (2010-2014)</p>
        ▪ Led,initiated,organized,scheduled,monitored,andcompletedsimultaneousprojects—whichresultedin timely deliverables, cost savings, and client satisfaction
    ▪ Createdmarkupandeditedmanualdirectionsforstateassessmentcoordinators
    ▪ Createdandupdatedmasterprojectsandsub-schedules
    ▪ Successfullyimplementedelectronicreviewsystem,improvingefficiency,andcreatingacostsavingsofover
    $50,000 upon initial use
    ▪ Determinedresourcerequirementsforsoftware,printing,packaging,andshipping
    ▪ Establishedoperationalefficiencies(eliminatedredundancy,createdprocessdocuments)
    ▪ Facilitatedweeklymeetings(agenda,projectstatus,maintainedactionlog)
    ▪ Designedprocessflowdiagrams—whichensuredconsistencyandquality
    ▪ Trainedandmentoredco-workersandfacilitatedteam-buildingactivities
    <h5>Copywriter & Editor</h5>
    <p class="smallText">Versimark, Inc. (2007-2010)</p>
    ▪ Gatheredbusinessrequirementstodetermineprojectcontentneeds(collaboratedwithprojectmanagers,
    graphic designers, and application developers)
    ▪ ResearchedandimplementedSearchEngineOptimizationbestpracticeswhichincreasedwebsitetrafficand
    customer sales
    ▪ Authoredcontentformarketingbrochures,newsletters,websites,andvideos
    ▪ Evaluatedprogramstatisticsanddata,convertingthenumbersintorelevantinformation
    ▪ Createdmonthlypromotionalemailsandeducationalarticlesforonlineinsurancecustomers
    ▪ Spearheadedinteractiveagentspokespersonvideoprojectwhichincludedresearch,purchase,andsuccessful
    launch of a portable recording studio
    </div>
</main>


<!--&lt;!&ndash;FOOTER&ndash;&gt;-->
<!--<div class="container-fluid">-->
<!--<div class="row">-->
    <!--<div class="footer col-md-12"></div>-->
<!--</div>-->
<!--</div>-->

<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</body>
</html>