<!DOCTYPE html>
<html lang="en">
<head>
    <title>MariaStommes.com</title>
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.svg"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.woff"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.woff2"/>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body class="body">
<div class="wrapper">

    <h4>Maria Stommes, CPPM</h4>
    <h5><i class="fa fa-envelope"></i>mstommes@gmail.com | <i class="fa fa-linkedin"></i>w​ww.linkedin.com/in/mstommes ​| <i class="fa fa-mobile-phone"></i> 651-895-2525</h5>

    <h5>Technologies</h5>
    <p>HTML5 | CSS | JQuery | AngularJS | Javascript | MongoDB | GitHub(version control) | Heroku | NodeJS | Express </p>
</div>

        <!--<nav id="navigation">-->
            <!--<div>-->
                <!--<ul><li class="itemText" >HOME</li>-->
                    <!--<li><a href="views/resume.html">RESUME</a></li>-->
                    <!--<li><a href="views/primeprojects.html">PRIME PORTFOLIO</a></li>-->
                    <!--<li><a href="views/photography.html">PHOTOGRAPHY</a></li>-->
                    <!--&lt;!&ndash;<li><a href="views/music.html">MUSIC</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="views/contact.html">CONTACT</a></li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</div>-->
        <!--</nav>-->
    </div>
</div>

<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</body>
</html>