<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MariaStommes.com</title>
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.svg"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.woff"/>
    <link rel="stylesheet" href="/vendors/font-awesome/fonts/fontawesome-webfont.woff2"/>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body class="body">
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MariaStommes.com</title>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
<!--Main Nav-->
<div class="container-fluid">
<div class="row">
    <nav class="navigation col-md-12">
        <div>
            <ul class="itemText">
                <li><a href="/views/index.html">HOME</a></li>
                <li><a href="/views/resume.html">RESUME</a></li>
                <li><a href="/views/work.html">WORK </a></li>
                <li><a href="/views/contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</div>
</div>
<main class="container">
    <p class="row">
    <h4>Maria Stommes, CPPM</h4>
    <h5><i class="fa fa-envelope"></i>mstommes@gmail.com | <i class="fa fa-linkedin"></i>w​ww.linkedin.com/in/mstommes ​| <i class="fa fa-mobile-phone"></i> 651-895-2525</h5>

    <h5>Technologies</h5>
    <p>HTML5 | CSS | JQuery | AngularJS | Javascript | MongoDB | GitHub(version control) | Heroku | NodeJS | Express </p>

    <h4>WORK EXPERIENCE</h4>
    <h5>Software Engineering Student</h5>
    <p class="smallText">Prime Digital Academy (June 2015-Present)</p>

    ▪ Worked withs software engineering classmates to successfully create a meeting dossier web application that allowed a user to add meetings and attendees via their Google calendar
    ▪ Created my personal project, which was a web application,in AngularJS,that allows a user to spin up guitar lessons
    ▪ Completed software projects using the complete MEAN stack
        <h5>Digital Project Manager (Contract)</h5>
    <p class="smallText">Internet Exposure (March 2015-June 2015)</p>
    ▪ Served as  scrum master for developers during application rebuild and client work
    ▪ Worked with development team to estimate project timelines and work estimates for clients
    ▪ Maintained accurate project hours and monthly billing records using Redmine and Harvest
    ▪ Provided accurate and prompt feedback to clients
    ▪ Updated yearly contract agreements and led client meetings
    ▪ Created agendas for daily and weekly stand-up meetings
    <h5>Adult Education Instructor (Part-time Evening ESL)</h5>
   <p class="smallText">Minneapolis Public Schools (December 2010 - June 2015)</p>
    ▪ Developed and taught ESL curriculum,including weekly lesson plans centered on life and work skills
    ▪ Taught critical thinking skills and created supportive learning environment
    ▪ Assessed students’progress with lesson and unit tests as well as CASAS and TABE tests
    ▪ Collaborated with co-teachers and fellow ABE staff and volunteers
    ▪ Wrote learning goals and objectives for increased student success
    ▪ Actively participated in staff development and training meetings
    <h5>Project Manager/Team Lead</h5>
   <p class="smallText">Data Recognition Corporation (2010-2014)</p>
    ▪ Created markup and edited manual directions for state assessment coordinators
    ▪ Created and updated master projects and sub-schedules
    ▪ Successfully implemented electronic review system,improving efficiency, and creating a cost savings of over
    $50,000 upon initial use
    ▪ Determined resource requirements for software, printing, packaging and shipping
    ▪ Established operational efficiencies(eliminated redundancy,created process documents)
    ▪ Facilitated weekly meetings(agenda,project status,maintained action log)
    ▪ Designed process flow diagrams—which ensured consistency and quality
    ▪ Trained and mentored co-workers and facilitated team-building activities
    <h5>Copywriter & Editor</h5>
    <p class="smallText">Versimark, Inc. (2007-2010)</p>
    ▪ Gathered business requirements to determine project content needs(collaborated with project managers,
    graphic designers, and application developers)
    ▪ Researched and implemented Search Engine Optimization bestpractices which increased website traffic and
    customer sales
    ▪ Authored content for marketing brochures,newsletters,websites,and videos
    ▪ Evaluated program statistics and data,converting the numbers into relevant information
    ▪ Created monthly promotional emails and educational articles for online insurance customers
    ▪ Spearheaded interactive agent spokesperson video project which included research, purchase,andsuccessful
    launch of a portable recording studio
    </div>
</main>


<!--&lt;!&ndash;FOOTER&ndash;&gt;-->
<!--<div class="container-fluid">-->
<!--<div class="row">-->
    <!--<div class="footer col-md-12"></div>-->
<!--</div>-->
<!--</div>-->

<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</body>
</html>