<!DOCTYPE html>
<html lang="en">
<head>
    <title>MariaStommes.com</title>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
<!--Main Nav-->
<div class="row">
    <nav class="navigation col-md-12">
        <div>
            <ul class="itemText">
                <li><a href="/views/index.html">HOME</a></li>
                <li><a href="/views/resume.html">RESUME</a></li>
                <li><a href="/views/work.html">WORK </a></li>
                <li><a href="/views/contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</div>
<main class="row-centered">
    <div class="col-md-4">
    <a href="https://github.com/mstommes"><img src="../assets/images/githubicon.png"></a>
        <h4 class="workTitle">Git Repository of Past, Present and Future Projects</h4>
        <p class="workTitle">Click on Octocat to head to my git repository.</p>
</div>
    <div class="col-md-4">
        <img src="../assets/images/nerderygroup.png">
        <h4 class="workTitle">Nerdery Dossier Project</h4>
        <p class="workTitle">For our group project we were able to complete an authentic client project.  Using the full MEAN stack and Angular Material Design for styles, we built a dossier
        that populates event and attendee information using the Google calendar log in.</p>
    </div>
    <div class="col-md-4">
        <img src="../assets/images/personalproject.png">
        <h4 class="workTitle">My Practice App</h4>
        <p class="workTitle">My personal project is a web app, built in Angular that spins up a guitar lesson carousel.</p>
    </div>
</main>

<div class="row">
    <div class="footer col-md-12">
    </div>
</div>

<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</body>
</html>